<form>
  <!-- [(ngModel)] is 2 way model binding -->
  <!-- [] 1 way model binding IN -->
  <!-- () 1 way model binding OUT -->
  <input type="text" name="title" [(ngModel)]="task.title" />
  <input type="text" name="description" [(ngModel)]="task.description" />
  <button *ngIf="!editMode" type="submit" (click)="submitNewTask()">Submit</button>
  <button *ngIf="editMode" type="submit" (click)="updateTask()">Update</button>
</form>
<pre>{{ task | json }}</pre>
<br />
<button type="button" (click)="deselectTask()">Deselect Task</button>
<br />
<div *ngFor="let task of tasks; let i = index">
  <p class="title">{{ task.title }}</p>
  <p class="desc">{{ task.description }}</p>
  <button type="submit" (click)="selectTask(task)">Show</button>
  <button type="button" (click)="deleteTask(task._id, i)">Delete</button>
</div>

<app-show *ngIf="selectedTask" [task]="selectedTask"></app-show>
